.footer-wrapper{
    background-color: var(--background-color);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap;
    border-top: 5px solid #fff;
    gap:1rem;
}
.footer-left, .footer-right, .footer-center{
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5rem;
    color: #fff;
    padding: 10px;
    min-height: 300px;
}
.footer-left h1, .footer-right h1, .footer-center h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-left div, .footer-right div, .footer-center div{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    color: #fff;
    min-width: 220px;
}
.footer-left p{
    color: rgb(202, 202, 202);
}
.contact-items span{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.contact-items span a, .contact-items span i{
    color: #fff;
    
}
.nav-link a{
    color: #fff;
}
footer{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: var(--card-shadow);
    border-top: 1px solid rgb(202, 202, 202);
}